<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read (One)</title>
  <style type="text/css">
    .nav-bar {
      display: flex;
      justify-content: space-between;
    }
    .upper_container {
      margin-bottom: 100px;
    }
  </style>
</head>
<body>
  <div class="nav-bar">
    <h1>TV Show {{ show.id }}</h1>
    <a href="/shows">Go Back</a>
  </div>
  <div class="upper_container">
    <h3>Title: {{ show.title }} </h3>
    <h3>Network: {{ show.network }}</h3>
    <h3>Release Date: {{ show.release_date }}</h3>
    <h3>Description: {{ show.desc }}</h3>
  </div>
  <div class="lower-container">
    <h3>Last Update: {{ show.updated_at }}</h3>
    <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/destroy">Delete</a>
  </div>
  
</body>
</html>